.hidden
{
	display: none;
}

#header_container
{
	background-color: pink;
	color: white;
}

#section_select_container
{
	background-color: dimgray;
}

.menu-container
{
	background-color: gray;
	color: white;
}

.list-panel
{
	height: 100%;
	width: 300px;
	padding: 12px 12px 12px 12px;
	float: left;
	background: darkgray;
}

.list-panel li
{
	padding: 4px;
	background: white;
	cursor: pointer;
}

.details-panel
{
	height: 100%;
	width: 300px;
	padding: 12px 12px 12px 12px;
	float: left;
}

.add-item-container
{
	background: green;
}

.remove-item-container
{
	background: red;
}